@charset "UTF-8";
#carr_wrap {
  z-index: -2;
  color: rgb(196, 196, 196);
  padding-bottom: 20px;
  overflow: hidden;
  background-size: cover;
}

#carr_wrap:hover {
  display: block;
}

.carr_info {
  width: 40%;
  margin: 0;
  text-align: left;
  padding-right: 20px;
  border-right: 1px solid rgba(255, 255, 255, 0.521);
}

.carr_info_img {
  width: 100%;
  overflow: hidden;
}

.carr_info_img > img {
  width: 100%;
}

.how2_des {
  font-family: "SUIT-Medium";
  font-size: 15px;
  margin-top: 30px;
}

.how2_des span {
  font-size: 16px;
}

.how2_des i {
  padding-right: 10px;
}

.carrs {
  width: 70%;
}

.carr_title {
  padding: 10px 0px 10px 0;
  padding-left: 20px;
  font-size: 50px;
}

.carr_title > span {
  font-family: "SUIT-Medium";
  font-size: 15px;
  color: whitesmoke;
}

.carr_contents {
  margin: 0 auto;
  text-align: right;
  display: flex;
}

.carr_point {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 360px;
  background: rgba(127, 123, 114, 0.815);
  z-index: -4;
}

.carr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
  transition: all 1s;
}

.carr:last-child {
  border: none;
}

.carr_img {
  width: 100%;
  overflow: hidden;
}

.carr_img > img {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
}

.carr_img_m {
  min-width: 280px;
  width: 20%;
}

.carr_sub_title {
  border-right: 1px solid rgb(255, 196, 48);
  padding-right: 10px;
  color: white;
  text-align: right;
  white-space: nowrap;
}

.carr > div:nth-last-child(1) {
  /*했던 것 설명 배열들*/
  width: 60%;
}

.carr_des {
  font-family: "SUIT-Medium";
  font-size: 15px;
}

.carr_site {
  width: 30%;
  text-align: center;
  margin-bottom: 20px;
}

.carr_site > a {
  width: 100%;
  display: inline-block;
  transition: all 0.5s;
}

.carr_site a:hover {
  opacity: 0.3;
}

.go_site {
  background: rgb(255, 196, 48);
  border-radius: 8px;
  padding: 3px 4px;
  box-sizing: border-box;
  transition: all 0.3s;
}

@media screen and (max-width: 1200px) {
  .carr_contents {
    flex-direction: column;
  }
  .carr_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding-right: 0;
    border-right: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.491);
    margin-bottom: 20px;
  }
  .carrs {
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 900px) {
  .carr_contents {
    margin: 0 auto;
  }
  .carr {
    flex-direction: column;
  }
  .carr_site {
    width: 80%;
    margin: 0 auto;
  }
  .carr_img_m {
    width: 35%;
  }
  .carr > div:nth-last-child(1) {
    /*했던 것 설명 배열들*/
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  .carr {
    flex-direction: column;
  }
  .carr_img > img {
    padding-bottom: 10px;
  }
  .carr_img_m {
    width: 50%;
  }
  .carr > div:nth-last-child(1) {
    /*했던 것 설명 배열들*/
    width: 90%;
  }
}