@charset "UTF-8";
#carr_wrap {
  position: relative;
  z-index: -2;
  background: rgb(11, 12, 13);
  color: rgb(197, 199, 181);
}

.carr_point {
  width: 100%;
  height: 300px;
  background: white;
  position: absolute;
  z-index: -1;
  user-select: none;
}

#carr_wrap:hover {
  display: block;
}

.carr_title {
  padding: 10px 0px 10px 0;
  padding-left: 20px;
  font-size: 50px;
}

.carr_title > span {
  font-family: "SUIT-Medium";
  font-size: 15px;
  color: whitesmoke;
}

.carr_contents {
  margin: 0 auto;
  text-align: right;
}

.carr {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  vertical-align: middle;
  align-items: center;
}

.carr:last-child {
  border: none;
}

.carr_img {
  min-width: 300px;
  width: 30%;
  overflow: hidden;
  padding-top: 20px;
}

.carr_img > img {
  display: block;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  margin-bottom: 20px;
}

.carr_img_m {
  min-width: 300px;
  width: 20%;
}

.carr_sub_title {
  border-right: 1px solid rgb(255, 196, 48);
  padding-right: 10px;
  color: white;
  text-align: right;
  white-space: nowrap;
}

.carr > div:nth-last-child(1) {
  /*했던 것 설명 배열들*/
  width: 60%;
}

.carr_des {
  font-family: "SUIT-Medium";
}

.carr_site {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.carr_site > a {
  display: block;
  background: rgb(255, 196, 48);
  border-radius: 8px;
  padding: 3px 4px;
  box-sizing: border-box;
  transition: all 0.3s;
}

.carr_site > a:hover {
  background: rgba(249, 249, 249, 0.76);
}

@media screen and (max-width: 900px) {
  .carr_contents {
    margin: 0 auto;
  }
  .carr {
    flex-direction: column;
  }
  .carr_img {
    width: 70%;
  }
  .carr_img_m {
    width: 35%;
  }
  .carr > div:nth-last-child(1) {
    /*했던 것 설명 배열들*/
    width: 75%;
  }
}
@media screen and (max-width: 500px) {
  .carr {
    flex-direction: column;
  }
  .carr_img {
    width: 90%;
  }
  .carr_img > img {
    padding-bottom: 10px;
  }
  .carr_img_m {
    width: 50%;
  }
  .carr > div:nth-last-child(1) {
    /*했던 것 설명 배열들*/
    width: 90%;
  }
}