@charset "UTF-8";
#contact_wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: csenter;
  align-items: center;
  margin: 0 auto;
  color: white;
}

.contact-up {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  background: rgb(17, 17, 17);
}

.contact-form-img {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 196, 48);
}

.contact-form-img > img {
  position: relative;
  top: 0;
  left: 0;
  width: 160px;
  height: 160px;
}

.contact-form-info a {
  /* phone + email 글 색상*/
  color: rgb(179, 179, 179);
}

.contact-form-info {
  width: 50%;
  box-sizing: border-box;
  padding: 200px 20px 200px 20px;
  word-break: break-all;
}

.contact-form-info-wrap {
  width: 70%;
  margin: 0 auto;
}

.box-info-contact span {
  display: inline-block;
  width: 70px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.form-box {
  border-top: 1px dotted rgb(255, 255, 255);
  padding-top: 20px;
  box-sizing: border-box;
}

.form-box h3 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 10px;
}

.entry {
  display: flex;
  align-items: center;
}

.entry label {
  display: inline-block;
  width: 70px;
  margin-right: 10px;
}

.entry input, .entry textarea {
  width: 300px;
  padding: 8px;
  background: rgb(193, 193, 193);
  border-radius: 10px;
  border-style: none;
}

.entry textarea {
  height: 120px;
}

.entry input:focus {
  border-style: none;
}

.image-zoom {
  width: 100%;
  text-align: center;
}

.image-zoom > button {
  float: right;
  width: 120px;
  padding: 10px;
  font-weight: bold;
  background-color: rgba(255, 255, 0, 0);
  border: 1px solid white;
  color: #ffffff;
  border-radius: 8px;
  transition: all 0.3s;
}

.image-zoom > button:hover {
  background-color: rgba(250, 250, 250, 0.217);
}

@media screen and (max-width: 900px) {
  .contact-up {
    flex-direction: column;
  }
  .contact-form-img {
    width: 100%;
  }
  .contact-form-img > img {
    width: 100px;
    height: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .contact-form-info {
    width: 100%;
    box-sizing: border-box;
    padding: 50px 20px 150px 20px;
  }
}
@media screen and (max-width: 600px) {
  .contact-form-info {
    width: 100%;
    box-sizing: border-box;
    padding: 50px 10px 150px 10px;
  }
  .contact-form-info-wrap {
    width: 95%;
  }
}