address {
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexSansKR-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 공통 스타일*/

#all {
  width: 100%;
  overflow: hidden;
}
* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

body {
  font: 16px/1.5 "맑은 고딕", Arial;
  color: rgb(0, 0, 0);
  font-family: "IBMPlexSansKR-Regular";
  background: rgb(240, 240, 240);
}
h1 {
  font-weight: 900;
}
.wrap {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

/*햄버거*/
.hamberger {
  display: none;
  z-index: 15;
  width: 40px;
  float: right;
  top: 0px;
  margin-top: 15px;
  margin-right: 10%;
}
.hamberger-img {
  display: none;
  cursor: pointer;
}
.hamberger-img img {
  width: 100%;
}
/* 햄버거 메뉴*/
.hamberger_Menu {
  display: none;
}

.hamberger_Menu {
  overflow-y: auto;
  font-size: 0.9em;
  position: absolute;
  left: -500px;
  z-index: 100;
  background: rgb(255, 255, 255);
  width: 400px;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.hamberger_Menu .logo {
  font-size: 250%;
  font-weight: bold;
  padding: 50px 0;
}
.hamberger_Menu ul {
  text-align: center;
  box-sizing: border-box;
  height: 70%;
  margin-top: -20px;
}

.closeMenu {
  font-size: 200%;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.hamberger {
  display: block;
}
.hamberger_Menu ul li {
  font-size: 1.2em;
  width: 100%;
  font-weight: bold;
  box-sizing: border-box;
}
.hamberger_Menu ul li a {
  border-bottom: 1px solid transparent;
  display: block;
  width: 200px;
  padding: 30px 0;
  box-sizing: border-box;
  margin: 0 auto;
  transition: all 0.5s;
}
.hamberger_Menu ul li :hover {
  opacity: 70%;
}

/*top navi*/
#topnavi {
  position: relative;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
}
.navi {
  width: 70%;
  padding: 20px 0;
  height: 20px;
  font-size: 80%;
  margin: 0 auto;
  overflow: auto;
}
.navi ul {
  float: right;
  width: 15%;
}
.navi ul li {
  width: 100%;
  float: left;
  text-align: center;
}

/* 헤더 스타일 */
.fixed {
  width: 100%;
  position: fixed;
  top: -50px;
  z-index: 20;
  margin-top: -50px;
  background: white;
  box-shadow: 2px 2px 2px rgb(141, 141, 141);
}
#header {
  width: 100%;
  overflow: auto;
  height: 80px;
  padding-top: 30px;
  margin-top: 50px;
}
h1 {
  width: 30%;
  float: left;
}

p {
  padding: 10px 0;
  text-align: center;
}
#header > ul {
  overflow: auto;
  float: right;
  width: 50%;
}
#header > ul > li {
  width: 20%;
  float: left;
  box-sizing: border-box;
}
#header > ul > li > a {
  display: block;
  padding: 10px 0;
  transition: all 0.5s;
}
#header > ul > li > a:hover {
  opacity: 70%;
}

#footer {
  background: rgb(68, 68, 68);
  position: relative;
  overflow: auto;
  padding: 50px 0;
  color: blanchedalmond;
}
.foot {
  width: 80%;
  margin: 0 auto;
}
.foot ul {
  width: 20%;
  overflow: auto;
}
.foot ul li {
  width: 50%;
  float: left;
}
.foot ul li a {
  display: block;
  color: blanchedalmond;
}
h6 {
  color: blanchedalmond;
  font-size: 350%;
  float: left;
  width: 20%;
}
address {
  text-align: left;
}
.foot ul li:nth-child(1) {
  border-right: 1px solid blanchedalmond;
  box-sizing: border-box;
}
@media screen and (min-width: 500px) and (max-width: 1350px) {
  #black {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 99;
    transition: all 0.5s;
  }
  .wrap {
    width: 90%;
  }

  .hamberger-img {
    display: block;
  }
  .hamberger_Menu {
    display: block;
  }
  .none {
    display: none;
  }
  h6 {
    color: blanchedalmond;
    font-size: 350%;
    clear: both;
    width: 100%;
  }
  .foot ul {
    width: 80%;
  }
}

@media screen and (max-width: 499px) {
  h1 {
    margin-left: 5%;
  }
  #black {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    z-index: 99;
    transition: all 0.5s;
  }
  .wid {
    width: 100%;
  }
  .fixed {
    width: 100%;
    top: -40px;
    z-index: 20;
  }
  #header {
    padding-top: 20px;
    margin-top: 30px;
    height: 60px;
  }
  .wrap {
    width: 90%;
  }
  .hamberger {
    width: 30px;
  }
  .hamberger-img {
    display: block;
  }
  .hamberger_Menu {
    display: block;
  }
  .none {
    display: none;
  }
  h6 {
    color: blanchedalmond;
    font-size: 350%;
    clear: both;
    width: 100%;
  }
  .foot ul {
    width: 80%;
  }
}

#talk {
  position: fixed;
  z-index: 30;
  bottom: 10px;
  right: 10px;
}
@media screen and (min-width: 800px) and (max-width: 1400px) {
  .foot ul {
    width: 40%;
  }
}
