## 파일 무시
test.txt

## 다음과 같은 확장자는 전체 무시
*.text
*.exe
*.zip
*.vscode
*.scss
*.json
## 폴더 무시
stickymate-master/
scss/
assets/homepage/webpack-js-html/node_modules
node_modules/
assets/hompage/
assets/video/
assets/blender/
assets/pdf/
assets/