
@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face { 
	font-family: 'MapoDPPA'; 
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoDPPA.woff') format('woff'); 
	font-weight: normal; font-style: normal; }
@font-face {
    font-family: '62570체';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.3/62570체.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{margin:0; padding:0;}
	a{text-decoration:none;
	color:#222328;}
	li{list-style:none;}
	
body{font:16px/1.5 "맑은 고딕";
	font-family: 'HallymGothic-Regular';
	background:#f1eae4;
	}
#wrapper{
		width:100%;
		overflow:hidden;
		margin:0 auto;
		max-width: 1920px;
		min-width:1400px;}
/* width */
::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	border-left:1px solid black;
	width:1px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: rgb(0, 0, 0); 
	border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #b30000; 
  }

/*login mainMenu*/
#login{
		font-size:0.9em;
		width:350px;
		float:right;
		position:relative;
		z-index:4564;
		top:10px;
		right:10px;
		transition:all 0.5s;
		font-size:85%;
		font-weight:100;
		}
#login nav > ul{transition:all 0.5s;}

#login nav > ul > li{
	font-size: 12px;
		text-align:center;
		float:left;
		width:25%;
	}

#login nav > ul > li > a{
		transition:all 0.5s;
		display:block;
		padding:10px 0;
	}
#login nav>ul>li>a:hover{color:#B43104}


/*login subMenu*/

#login nav>ul>li:hover ul{ display:block;}
#login nav>ul>li>ul{
		position:absolute;
		font-size:0.8em;
		top:30px;
		display:none;
		margin:0 auto;
		width:100px;
		border:1px solid #eee;
		box-sizing:border-box;
		background:#fff;
		}
#login nav>ul>li>ul>li{padding:8px 0;}
/*header 영역*/

#header{
		position:relative;
		left:0;
		box-sizing:border-box;
		width:100%;
		z-index:3;
	}
#header ul {text-align:center;}

#header h1{
	width:100%;
	left:100px;
	box-sizing:border-box;
	
	}
#header h1 img{
	width:120px;
	margin-left:20px;
	margin-top:20px;
}
/* MENU */
#header nav{
	border-top:1px solid black;
	border-bottom:1px solid black;
	font-size: 13px;
	width:100%;
	box-sizing:border-box;
	
}
#header nav > ul{
	display:flex;
	justify-content:space-around;
	border-radius:3px;
	width:100%;
	}	
#header nav > ul > li{
	position: relative;
	font-weight:bold;
	float:left;
	box-sizing:border-box;}

#header nav > ul > li > a{
	width:100%;
	box-sizing:border-box;
	padding:10px;
	display:block;
	transition:all 0.5s;
}
#header nav > ul > li > a:hover{
	color:#B43104;
	display:block;
}
			/*섭메뉴*/
#header nav > ul > li:hover li{display:block;}
#header  nav > ul > li > ul{
	position:absolute;
	width:150px;
	font-weight:normal;
	}

#header nav > ul > li > ul > li{
	font-size:0.8em;
	box-sizing:border-box;
	width:100%;
	margin:0 auto;
	display:none;}

#header nav > ul > li > ul > li > a{
	background:rgb(255, 255, 255);
	box-sizing:border-box;
	width:100%;
	padding:15px;
	display:block;
	transition:all 0.5s;}

#header nav > ul > li > ul > li > a:hover{
	background:#7c6752;
	color:white;
	
}
#header nav>ul>li>ul>li:hover li{background:#7c6752;}

/*slide 영역*/
#slide{
		position:relative;
		z-index:2;
		top:0px;
		width:100%;
		margin:0 auto;
		overflow:hidden;
		box-shadow:0px 12px 14px rgba(0, 0, 0, 0.058);
		}
#slide ul{
	position:relative;
	
	height:600px;
	margin:0 auto;
	
	} 
#slide ul li{
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	opacity:0;
	animation:ani 9s infinite;
	width:100%;
	height:100%;
	margin:0 auto;}
#slide img{
	width:100%;
	}
	
#slide li:nth-child(1){animation-delay:0s;}
#slide li:nth-child(2){animation-delay:3s;}
#slide li:nth-child(3){animation-delay:6s;}

/* contents start */
.contents{
	display: flex;
	flex-wrap: wrap;
}
/* 콘텐츠 네비 */
.navi_contents{
	width:15%;
	display:flex;
	flex-direction: column;
	padding:30px;
	box-sizing: border-box;
}
.navi_contents_title{
	font-size: 26px;
}
.navi_contents a{
}

.navi_contents ul li{
	padding-bottom:10px;
}
/* 콘텐츠 셀러 */
.contents .sell_contents{
	width:70%;
}

/* 콘텐츠 셀러 콜렉션 */
.collection{
	background:#f1ebeb;
	width:100%;
	max-width: 1400px;
	margin:0 auto;
	overflow: hidden;
}
.collection > img{
	width:100%;
}
/* 콘텐츠 셀러 베스트 */
.best_seller{
	width:100%;
	margin-bottom:20px;
}
.best_seller_title{
	font-size: 30px;
	padding:40px 20px;
	text-align: left;
}
.best_seller_title > span{
	display:block;
	font-size: 0.5em;
	color:#9f8973;
}
.sell_contents_main,.sell_contents_sub{
	margin-top:20px;
	width:100%;
	display:flex;
	flex-wrap: wrap;
	justify-content:space-around;
	
}
.sell_contents_main li{
	width:40%;
	overflow: hidden;
	padding-left:10px;
	
}
.sell_contents_main li a > img{
	width:100%;
}

.sell_contents_sub li{
	width:23%;
	overflow: hidden;
	padding-left:10px;

}
.sell_contents_sub li a > img{
	width:100%;
}
@font-face {
	font-family: 'S-CoreDream-3Light';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'ghanachoco';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ghanachoco.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.buy_now{
	font-family: 'S-CoreDream-3Light';
	width:90%;
	margin:0 auto;
	display:flex;
	align-items: center;
	justify-content:space-between;
	color:rgb(1, 1, 1);
	padding:12px 0;
} 
.buy_now .cost{
	font-family: 'ghanachoco';
	font-weight: 400;
	font-size: 20px;
}
.buy_now img{
	width:30px;
	margin-right:20px;
}
.buy_now span{
	text-align: center;
}


	@keyframes ani {
      0% {opacity:0;}
      10% {opacity:1;}
      40% {opacity:1;}
      50% {opacity:0;}
      100% {opacity:0;}
    }

	@font-face {
		font-family: 'S-CoreDream-3Light';
		src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
		font-weight: 100;
		font-style: normal;
   }
	/*footer 영역*/

	#footer{
		font-family: 'S-CoreDream-3Light';
		width:100%;
		background:#2a2928;
		color:rgba(255, 255, 255, 0.824);
		}

	.footer_wrap{
		width:90% ;
		flex-wrap: wrap;
		margin:0 auto;
		display:flex;
		justify-content: space-around;
		justify-items: center;
		align-items: center;
		border-bottom:1px solid rgba(255, 255, 255, 0.51);
	}	
	.footer_wrap > div{
		font-weight: 300;
		padding:30px 0;
		max-width:200px;
		width:33%;
	}
	.bottom_info{
		text-align: center;
	}
	.bottom_info h6{
		margin-bottom:20px;
	}
	.bottom_info h6 img{
		max-width:120px;
		width:100%;
		
	}
	.sns{
		width:100%;
	}
	.sns ul{
		display:flex;
		justify-content: space-around;
	}
	.sns ul li{
		width:32px;
		
	}
	.sns ul li:hover img{
		opacity: 0.4;
	}
	.sns ul li img {
		width:100%;
		transition:all 0.5s;
	}
	.copyright_title{
		font-size: 15px;
		margin-bottom:10px;
	}
	.subscribe > p{
		margin-bottom:10px;
	}
	.subscribe input{
		width: 100%;
		border-radius: 10px;
		border:none;
		padding: 10px 20px;
		margin: 5px 0; 
		box-sizing: border-box;
		color:rgb(69, 61, 61);
		background:rgb(124, 117, 117);
	}

	.description{
		width:90%;
		margin:0 auto;
		text-align:right;
		padding:30px 0;
	}

	.cursor_not_blink{
		/* 포커스 커서 뜨지 않게 (컨텐츠에 커서 깜빡거림 없앰) */
		-webkit-touch-callout: none; /* iOS Safari */
		-webkit-user-select: none; /* Safari */
		 -khtml-user-select: none; /* Konqueror HTML */
		   -moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently
									  supported by Chrome, Opera and Firefox */
	   }
















