@charset "UTF-8";
/* 로딩 파트 */
#loading_wrap {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  background: rgba(3, 3, 3, 0.736);
  color: white;
  font-size: 50px;
}

#loading_wrap.bye {
  display: none;
}

#loading_wrap .loading_1 {
  position: absolute;
  width: 120px;
  animation: rounding 2s ease Infinite;
}

#loading_wrap .loading_2 {
  position: absolute;
  width: 200px;
  animation: rounding2 3s ease Infinite;
}

#loading_wrap > p {
  font-size: 20px;
}

@keyframes rounding {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rounding2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}